body {
  background-color: #ddecfb;
  background-image: url(https://images.pexels.com/photos/866351/pexels-photo-866351.jpeg?_gl=1*1w5tbtw*_ga*MTg2OTAyMDI3NS4xNzY0NjY2OTcz*_ga_8JE65Q40S6*czE3Njc3MjkxMjckbzEwJGcxJHQxNzY3NzI5MjE5JGo1NSRsMCRoMA..);
  background-blend-mode: overlay;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: secular;
  color: #272584;
}
@font-face {
  font-family: secular;
  src: url(../font/SecularOne-Regular.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(../font/Quicksand-VariableFont_wght.ttf);
}

p {
  font-family: quicksand;
  font-weight: 500;
}
.myname {
  font-size: 25px;
}
.over {
  font-size: 100px;
}
.menu {
  display: flex;
  list-style: none;
  place-content: center;
  justify-content: space-evenly;
  border-bottom: #272584;
}
.menu a {
  text-decoration: none;
  font-family: secular;
  color: #272584;
  display: block;

  transition: color 0.3s;
  text-align: end;
}
.menu li:last-child {
  margin-right: 0;
}

.menu a:hover {
  color: #1e0362;
}

.burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  place-self: end;
  margin: 1em;
}
.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #272584;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (width < 800px) {
  .menu {
    display: none;
    margin: 0;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    margin-left: 140px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #ddecfb;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 50px;
  }
  nav.active .menu a {
    font-size: 24px;
  }
}
.startknap {
  font-family: secular;
  list-style: none;
  background-color: #56a2f0;
  margin: 0.7em;
  width: 400px;
  height: 90px;
  border-radius: 10px;
  text-decoration: none;
  color: #1e0362;
  place-content: center;
  place-self: center;
  text-align: center;
}

.startknap:hover {
  background-color: #1c6cbc;
  color: #1e0362;
}

@media screen and (width > 800px) {
  .startknap {
    padding: 2em;
  }
}
.flexbox {
  display: flex;
  flex-direction: column;
}

.mpro {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}

.cta {
  font-family: secular;
  list-style: none;
  background-color: #56a2f0;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #1e0362;
  padding: 0.5em;
  place-self: center;
  place-content: center;
  display: flex;
  text-align: center;
  margin-top: 1em;
}
.cta:hover {
  background-color: #1c6cbc;
  color: #1e0362;
}

img {
  max-width: 450px;
  border-radius: 10px;
}

footer ul {
  display: flex;
  margin: 2em;
  list-style: none;
  justify-content: space-evenly;
  place-items: center;
}

footer a {
  text-decoration: none;
  font-family: secular;
  color: #1e0362;
}

footer p {
  font-weight: 200;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}
